.config/uwsm/default-id
.config/zen
.config/dconf
.config/assets
.config/discord
.config/environment.d
.config/go
.config/mimeapps.list
.config/qalculate
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/QtProject.conf
.config/astro
.config/google-chrome
.config/lact
.config/obs-studio
.config/obsidian
.config/kdfrc
.config/nextjs-nodejs
.config/spotify
.config/tanstack
.config/turborepo
.config/zed
.config/com.cisco.secureclient.vpnui
.config/menus
.config/opencode
.config/pavucontrol.ini
.config/Postman
.config/configstore
.config/Code
.local/bin/agy
.local/bin/codex
.local/bin/zed
.config/.android
.config/Android Open Source Project
.config/Bitwarden CLI
.config/Bitwarden
.config/Google
.config/QtProject
.config/herdr
.config/mozilla
.config/vlc
.local/bin/herdr
