.config/uwsm/default-id
.config/zen
.config/dconf
.config/assets
.config/discord
.config/environment.d
.config/go
.config/mimeapps.list
.config/qalculate
.config/systemd
.config/user-dirs.dirs
.config/user-dirs.locale
.config/QtProject.conf
.config/astro
.config/google-chrome
.config/lact
.config/obs-studio
.config/obsidian
